{% include "header.html" %}
<main class="container-md">
    <div>
        <a href="/search?name_hero_item=axe"><i class="d2mh axe"></i></a>
        <a href="/search?name_hero_item=anti+mage"><i class="d2mh anti-mage"></i></a>
        <a href="/search?name_hero_item=crystal+maiden"><i class="d2mh crystal-maiden"></i></a>
        <i class="d2mh pangolier"></i>
        <i class="d2mh ancient-apparition"></i>
        <i class="d2mh batrider"></i>
        <i class="d2mh beastmaster"></i>
        <i class="d2mh bloodseeker"></i>
        <i class="d2mh bounty-hunter"></i>
        <i class="d2mh broodmother"></i>
        <i class="d2mh chen"></i>
        <i class="d2mh dark-seer"></i>
        <i class="d2mh dazzle"></i>
        <i class="d2mh death-prophet"></i>
        <i class="d2mh doom"></i>
        <i class="d2mh dragon-knight"></i>
        <i class="d2mh alchemist"></i>
        <i class="d2mh drow-ranger"></i>
        <i class="d2mh earthshaker"></i>
        <i class="d2mh enchantress"></i>
        <i class="d2mh enigma"></i>
        <i class="d2mh faceless-void"></i>
        <i class="d2mh natures-prophet"></i>
        <i class="d2mh huskar"></i>
        <i class="d2mh juggernaut"></i>
        <i class="d2mh kunkka"></i>
        <i class="d2mh leshrac"></i>
        <i class="d2mh lich"></i>
        <i class="d2mh night-stalker"></i>
        <i class="d2mh lina"></i>
        <i class="d2mh lion"></i>
        <i class="d2mh mirana"></i>
        <i class="d2mh morphling"></i>
        <i class="d2mh necrophos"></i>
        <i class="d2mh shadow-fiend"></i>
        <i class="d2mh night-stalker"></i>
        <i class="d2mh omniknight"></i>
        <i class="d2mh puck"></i>
        <i class="d2mh pudge"></i>
        <i class="d2mh pugna"></i>
        <i class="d2mh queenofpain"></i>
        <i class="d2mh clockwerk"></i>
        <i class="d2mh razor"></i>
        <i class="d2mh riki"></i>
        <i class="d2mh sand-king"></i>
        <i class="d2mh shadow-shaman"></i>
        <i class="d2mh silencer"></i>
        <i class="d2mh wraith-king"></i>
        <i class="d2mh slardar"></i>
        <i class="d2mh sniper"></i>
        <i class="d2mh spectre"></i>
        <i class="d2mh spirit-breaker"></i>
        <i class="d2mh storm-spirit"></i>
        <i class="d2mh sven"></i>
        <i class="d2mh tidehunter"></i>
        <i class="d2mh tinker"></i>
        <i class="d2mh tiny"></i>
        <i class="d2mh jakiro"></i>
        <i class="d2mh ursa"></i>
        <i class="d2mh vengeful-spirit"></i>
        <i class="d2mh venomancer"></i>
        <i class="d2mh viper"></i>
        <i class="d2mh warlock"></i>
        <i class="d2mh weaver"></i>
        <i class="d2mh windranger"></i>
        <i class="d2mh witch-doctor"></i>
        <i class="d2mh zeus"></i>
        <i class="d2mh invoker"></i>
        <i class="d2mh clinkz"></i>
        <i class="d2mh outworld-destroyer"></i>
        <i class="d2mh bane"></i>
        <i class="d2mh shadow-demon"></i>
        <i class="d2mh lycan"></i>
        <i class="d2mh lone-druid"></i>
        <i class="d2mh brewmaster"></i>
        <i class="d2mh phantom-lancer"></i>
        <i class="d2mh chaos-knight"></i>
        <i class="d2mh phantom-assassin"></i>
        <i class="d2mh treant-protector"></i>
        <i class="d2mh luna"></i>
        <i class="d2mh ogre-magi"></i>
        <i class="d2mh gyrocopter"></i>
        <i class="d2mh rubick"></i>
        <i class="d2mh io"></i>
        <i class="d2mh disruptor"></i>
        <i class="d2mh undying"></i>
        <i class="d2mh naga-siren"></i>
        <i class="d2mh templar-assassin"></i>
        <i class="d2mh nyx-assassin"></i>
        <i class="d2mh keeper-of-the-light"></i>
        <i class="d2mh visage"></i>
        <i class="d2mh magnataur"></i>
        <i class="d2mh meepo"></i>
        <i class="d2mh centaur"></i>
        <i class="d2mh slark"></i>
        <i class="d2mh medusa"></i>
        <i class="d2mh shredder"></i>
        <i class="d2mh troll-warlord"></i>
        <i class="d2mh tusk"></i>
        <i class="d2mh bristleback"></i>
        <i class="d2mh skywrath-mage"></i>
        <i class="d2mh elder-titan"></i>
        <i class="d2mh abaddon"></i>
        <i class="d2mh ember-spirit"></i>
        <i class="d2mh legion-commander"></i>
        <i class="d2mh earth-spirit"></i>
        <i class="d2mh terrorblade"></i>
        <i class="d2mh phoenix"></i>
        <i class="d2mh techies"></i>
        <i class="d2mh oracle"></i>
        <i class="d2mh winter-wyvern"></i>
        <i class="d2mh arc-warden"></i>
        <i class="d2mh underlord"></i>
        <i class="d2mh monkey-king"></i>
        <i class="d2mh dark-willow"></i>
        <i class="d2mh grimstroke"></i>
        <i class="d2mh mars"></i>
        <i class="d2mh snapfire"></i>
        <i class="d2mh void-spirit"></i>
        <i class="d2mh hoodwink"></i>
        <i class="d2mh dawnbreaker"></i>
    </div>
</main>
{% include "footer.html" %}

