{% include "header.html" %}
<main class="container-md">
    <div>
        <i class="d2mh axe"></i>
        <i class="d2mh anti-mage"></i>
        <i class="d2mh crystal_maiden"></i>
        <i class="d2mh pangolier"></i>
        <i class="d2mh ancient_apparition"></i>
        <i class="d2mh batrider"></i>
        <i class="d2mh beastmaster"></i>
        <i class="d2mh bloodseeker"></i>
        <i class="d2mh bounty_hunter"></i>
        <i class="d2mh broodmother"></i>
        <i class="d2mh chen"></i>
        <i class="d2mh dark_seer"></i>
        <i class="d2mh dazzle"></i>
        <i class="d2mh death_prophet"></i>
        <i class="d2mh doom_bringer"></i>
        <i class="d2mh dragon_knight"></i>
        <i class="d2mh alchemist"></i>
        <i class="d2mh drow_ranger"></i>
        <i class="d2mh earthshaker"></i>
        <i class="d2mh enchantress"></i>
        <i class="d2mh enigma"></i>
        <i class="d2mh faceless_void"></i>
        <i class="d2mh furion"></i>
        <i class="d2mh huskar"></i>
        <i class="d2mh juggernaut"></i>
        <i class="d2mh kunkka"></i>
        <i class="d2mh leshrac"></i>
        <i class="d2mh lich"></i>
        <i class="d2mh life_stealer"></i>
        <i class="d2mh lina"></i>
        <i class="d2mh lion"></i>
        <i class="d2mh mirana"></i>
        <i class="d2mh morphling"></i>
        <i class="d2mh necrolyte"></i>
        <i class="d2mh nevermore"></i>
        <i class="d2mh night_stalker"></i>
        <i class="d2mh omniknight"></i>
        <i class="d2mh puck"></i>
        <i class="d2mh pudge"></i>
        <i class="d2mh pugna"></i>
        <i class="d2mh queenofpain"></i>
        <i class="d2mh rattletrap"></i>
        <i class="d2mh razor"></i>
        <i class="d2mh riki"></i>
        <i class="d2mh sand_king"></i>
        <i class="d2mh shadow_shaman"></i>
        <i class="d2mh silencer"></i>
        <i class="d2mh skeleton_king"></i>
        <i class="d2mh slardar"></i>
        <i class="d2mh sniper"></i>
        <i class="d2mh spectre"></i>
        <i class="d2mh spirit_breaker"></i>
        <i class="d2mh storm_spirit"></i>
        <i class="d2mh sven"></i>
        <i class="d2mh tidehunter"></i>
        <i class="d2mh tinker"></i>
        <i class="d2mh tiny"></i>
        <i class="d2mh jakiro"></i>
        <i class="d2mh ursa"></i>
        <i class="d2mh vengefulspirit"></i>
        <i class="d2mh venomancer"></i>
        <i class="d2mh viper"></i>
        <i class="d2mh warlock"></i>
        <i class="d2mh weaver"></i>
        <i class="d2mh windrunner"></i>
        <i class="d2mh witch_doctor"></i>
        <i class="d2mh zuus"></i>
        <i class="d2mh invoker"></i>
        <i class="d2mh clinkz"></i>
        <i class="d2mh obsidian_destroyer"></i>
        <i class="d2mh bane"></i>
        <i class="d2mh shadow_demon"></i>
        <i class="d2mh lycan"></i>
        <i class="d2mh lone_druid"></i>
        <i class="d2mh brewmaster"></i>
        <i class="d2mh phantom_lancer"></i>
        <i class="d2mh chaos_knight"></i>
        <i class="d2mh phantom_assassin"></i>
        <i class="d2mh treant"></i>
        <i class="d2mh luna"></i>
        <i class="d2mh ogre_magi"></i>
        <i class="d2mh gyrocopter"></i>
        <i class="d2mh rubick"></i>
        <i class="d2mh wisp"></i>
        <i class="d2mh wisp_alt"></i>
        <i class="d2mh disruptor"></i>
        <i class="d2mh undying"></i>
        <i class="d2mh naga_siren"></i>
        <i class="d2mh templar_assassin"></i>
        <i class="d2mh nyx_assassin"></i>
        <i class="d2mh keeper_of_the_light"></i>
        <i class="d2mh visage"></i>
        <i class="d2mh magnataur"></i>
        <i class="d2mh meepo"></i>
        <i class="d2mh centaur"></i>
        <i class="d2mh slark"></i>
        <i class="d2mh medusa"></i>
        <i class="d2mh shredder"></i>
        <i class="d2mh troll_warlord"></i>
        <i class="d2mh tusk"></i>
        <i class="d2mh bristleback"></i>
        <i class="d2mh skywrath_mage"></i>
        <i class="d2mh elder_titan"></i>
        <i class="d2mh abaddon"></i>
        <i class="d2mh ember_spirit"></i>
        <i class="d2mh legion_commander"></i>
        <i class="d2mh earth_spirit"></i>
        <i class="d2mh terrorblade"></i>
        <i class="d2mh phoenix"></i>
        <i class="d2mh techies"></i>
        <i class="d2mh oracle"></i>
        <i class="d2mh winter_wyvern"></i>
        <i class="d2mh arc_warden"></i>
        <i class="d2mh abyssal_underlord"></i>
        <i class="d2mh monkey_king"></i>
        <i class="d2mh dark_willow"></i>
        <i class="d2mh grimstroke"></i>
        <i class="d2mh mars"></i>
        <i class="d2mh snapfire"></i>
        <i class="d2mh void_spirit"></i>
        <i class="d2mh hoodwink"></i>
        <i class="d2mh dawnbreaker"></i>
    </div>
</main>
{% include "footer.html" %}

