{% include "header.html" %}
<main class="container-md">
    <div>
        <a href="/search?name_hero_item=axe"><i class="d2mh axe"></i></a>
        <a href="/search?name_hero_item=anti+mage"><i class="d2mh anti-mage"></i></a>
        <a href="/search?name_hero_item=crystal+maiden"><i class="d2mh crystal-maiden"></i></a>
        <a href="/search?name_hero_item=pangolier"><i class="d2mh pangolier"></i></a>
        <a href="/search?name_hero_item=ancient+apparition"><i class="d2mh ancient-apparition"></i></a>
        <a href="/search?name_hero_item=batrider"><i class="d2mh batrider"></i></a>
        <a href="/search?name_hero_item=beastmaster"><i class="d2mh beastmaster"></i></a>
        <a href="/search?name_hero_item=bloodseeker"><i class="d2mh bloodseeker"></i></a>
        <a href="/search?name_hero_item=bounty+hunter"><i class="d2mh bounty-hunter"></i></a>
        <a href="/search?name_hero_item=broodmother"><i class="d2mh broodmother"></i></a>
        <a href="/search?name_hero_item=chen"><i class="d2mh chen"></i></a>
        <a href="/search?name_hero_item=dark+seer"><i class="d2mh dark-seer"></i></a>
        <a href="/search?name_hero_item=dazzle"><i class="d2mh dazzle"></i></a>
        <a href="/search?name_hero_item=death+prophet"><i class="d2mh death-prophet"></i></a>
        <a href="/search?name_hero_item=doom"><i class="d2mh doom"></i></a>
        <a href="/search?name_hero_item=dragon+knight"><i class="d2mh dragon-knight"></i></a>
        <a href="/search?name_hero_item=alchemist"><i class="d2mh alchemist"></i></a>
        <a href="/search?name_hero_item=drow+ranger"><i class="d2mh drow-ranger"></i></a>
        <a href="/search?name_hero_item=earthshaker"><i class="d2mh earthshaker"></i></a>
        <a href="/search?name_hero_item=enchantress"><i class="d2mh enchantress"></i></a>
        <a href="/search?name_hero_item=enigma"><i class="d2mh enigma"></i></a>
        <a href="/search?name_hero_item=faceless+void"><i class="d2mh faceless-void"></i></a>
        <a href="/search?name_hero_item=natures+prophet"><i class="d2mh natures-prophet"></i></a>
        <a href="/search?name_hero_item=huskar"><i class="d2mh huskar"></i></a>
        <a href="/search?name_hero_item=juggernaut"><i class="d2mh juggernaut"></i></a>
        <a href="/search?name_hero_item=kunkka"><i class="d2mh kunkka"></i></a>
        <a href="/search?name_hero_item=leshrac"><i class="d2mh leshrac"></i></a>
        <a href="/search?name_hero_item=lich"><i class="d2mh lich"></i></a>
        <a href="/search?name_hero_item=night+stalker"><i class="d2mh night-stalker"></i></a>
        <a href="/search?name_hero_item=lina"><i class="d2mh lina"></i></a>
        <a href="/search?name_hero_item=lion"><i class="d2mh lion"></i></a>
        <a href="/search?name_hero_item=mirana"><i class="d2mh mirana"></i></a>
        <a href="/search?name_hero_item=morphling"><i class="d2mh morphling"></i></a>
        <a href="/search?name_hero_item=necrophos"><i class="d2mh necrophos"></i></a>
        <a href="/search?name_hero_item=shadow+fiend"><i class="d2mh shadow-fiend"></i></a>
        <a href="/search?name_hero_item=omniknight"><i class="d2mh omniknight"></i></a>
        <a href="/search?name_hero_item=puck"><i class="d2mh puck"></i></a>
        <a href="/search?name_hero_item=pudge"><i class="d2mh pudge"></i></a>
        <a href="/search?name_hero_item=pugna"><i class="d2mh pugna"></i></a>
        <a href="/search?name_hero_item=queen+of+pain"><i class="d2mh queen-of-pain"></i></a>
        <a href="/search?name_hero_item=clockwerk"><i class="d2mh clockwerk"></i></a>
        <a href="/search?name_hero_item=razor"><i class="d2mh razor"></i></a>
        <a href="/search?name_hero_item=riki"><i class="d2mh riki"></i></a>
        <a href="/search?name_hero_item=sand+king"><i class="d2mh sand-king"></i></a>
        <a href="/search?name_hero_item=shadow+shaman"><i class="d2mh shadow-shaman"></i></a>
        <a href="/search?name_hero_item=silencer"><i class="d2mh silencer"></i></a>
        <a href="/search?name_hero_item=wraith+king"><i class="d2mh wraith-king"></i></a>
        <a href="/search?name_hero_item=slardar"><i class="d2mh slardar"></i></a>
        <a href="/search?name_hero_item=sniper"><i class="d2mh sniper"></i></a>
        <a href="/search?name_hero_item=spectre"><i class="d2mh spectre"></i></a>
        <a href="/search?name_hero_item=spirit+breaker"><i class="d2mh spirit-breaker"></i></a>
        <a href="/search?name_hero_item=storm+spirit"><i class="d2mh storm-spirit"></i></a>
        <a href="/search?name_hero_item=sven"><i class="d2mh sven"></i></a>
        <a href="/search?name_hero_item=tidehunter"><i class="d2mh tidehunter"></i></a>
        <a href="/search?name_hero_item=tinker"><i class="d2mh tinker"></i></a>
        <a href="/search?name_hero_item=tiny"><i class="d2mh tiny"></i></a>
        <a href="/search?name_hero_item=jakiro"><i class="d2mh jakiro"></i></a>
        <a href="/search?name_hero_item=ursa"><i class="d2mh ursa"></i></a>
        <a href="/search?name_hero_item=vengeful+spirit"><i class="d2mh vengeful-spirit"></i></a>
        <a href="/search?name_hero_item=venomancer"><i class="d2mh venomancer"></i></a>
        <a href="/search?name_hero_item=viper"><i class="d2mh viper"></i></a>
        <a href="/search?name_hero_item=warlock"><i class="d2mh warlock"></i></a>
        <a href="/search?name_hero_item=weaver"><i class="d2mh weaver"></i></a>
        <a href="/search?name_hero_item=windranger"><i class="d2mh windranger"></i></a>
        <a href="/search?name_hero_item=witch+doctor"><i class="d2mh witch-doctor"></i></a>
        <a href="/search?name_hero_item=zeus"><i class="d2mh zeus"></i></a>
        <a href="/search?name_hero_item=invoker"><i class="d2mh invoker"></i></a>
        <a href="/search?name_hero_item=clinkz"><i class="d2mh clinkz"></i></a>
        <a href="/search?name_hero_item=outworld+destroyer"><i class="d2mh outworld-destroyer"></i></a>
        <a href="/search?name_hero_item=bane"><i class="d2mh bane"></i></a>
        <a href="/search?name_hero_item=shadow+demon"><i class="d2mh shadow-demon"></i></a>
        <a href="/search?name_hero_item=lycan"><i class="d2mh lycan"></i></a>
        <a href="/search?name_hero_item=lone+druid"><i class="d2mh lone-druid"></i></a>
        <a href="/search?name_hero_item=brewmaster"><i class="d2mh brewmaster"></i></a>
        <a href="/search?name_hero_item=phantom+lancer"><i class="d2mh phantom-lancer"></i></a>
        <a href="/search?name_hero_item=chaos+knight"><i class="d2mh chaos-knight"></i></a>
        <a href="/search?name_hero_item=phantom+assassin"><i class="d2mh phantom-assassin"></i></a>
        <a href="/search?name_hero_item=treant+protector"><i class="d2mh treant-protector"></i></a>
        <a href="/search?name_hero_item=luna"><i class="d2mh luna"></i></a>
        <a href="/search?name_hero_item=ogre+magi"><i class="d2mh ogre-magi"></i></a>
        <a href="/search?name_hero_item=gyrocopter"><i class="d2mh gyrocopter"></i></a>
        <a href="/search?name_hero_item=rubick"><i class="d2mh rubick"></i></a>
        <a href="/search?name_hero_item=io"><i class="d2mh io"></i></a>
        <a href="/search?name_hero_item=disruptor"><i class="d2mh disruptor"></i></a>
        <a href="/search?name_hero_item=undying"><i class="d2mh undying"></i></a>
        <a href="/search?name_hero_item=naga+siren"><i class="d2mh naga-siren"></i></a>
        <a href="/search?name_hero_item=templar+assassin"><i class="d2mh templar-assassin"></i></a>
        <a href="/search?name_hero_item=nyx+assassin"><i class="d2mh nyx-assassin"></i></a>
        <a href="/search?name_hero_item=keeper+of+the+light"><i class="d2mh keeper-of-the-light"></i></a>
        <a href="/search?name_hero_item=visage"><i class="d2mh visage"></i></a>
        <a href="/search?name_hero_item=magnus"><i class="d2mh magnus"></i></a>
        <a href="/search?name_hero_item=meepo"><i class="d2mh meepo"></i></a>
        <a href="/search?name_hero_item=centaur+warrunner"><i class="d2mh centaur-warrunner"></i></a>
        <a href="/search?name_hero_item=slark"><i class="d2mh slark"></i></a>
        <a href="/search?name_hero_item=medusa"><i class="d2mh medusa"></i></a>
        <a href="/search?name_hero_item=timbersaw"><i class="d2mh timbersaw"></i></a>
        <a href="/search?name_hero_item=troll+warlord"><i class="d2mh troll-warlord"></i></a>
        <a href="/search?name_hero_item=tusk"><i class="d2mh tusk"></i></a>
        <a href="/search?name_hero_item=bristleback"><i class="d2mh bristleback"></i></a>
        <a href="/search?name_hero_item=skywrath+mage"><i class="d2mh skywrath-mage"></i></a>
        <a href="/search?name_hero_item=elder+titan"><i class="d2mh elder-titan"></i></a>
        <a href="/search?name_hero_item=abaddon"><i class="d2mh abaddon"></i></a>
        <a href="/search?name_hero_item=ember+spirit"><i class="d2mh ember-spirit"></i></a>
        <a href="/search?name_hero_item=legion+commander"><i class="d2mh legion-commander"></i></a>
        <a href="/search?name_hero_item=earth+spirit"><i class="d2mh earth-spirit"></i></a>
        <a href="/search?name_hero_item=terrorblade"><i class="d2mh terrorblade"></i></a>
        <a href="/search?name_hero_item=phoenix"><i class="d2mh phoenix"></i></a>
        <a href="/search?name_hero_item=techies"><i class="d2mh techies"></i></a>
        <a href="/search?name_hero_item=oracle"><i class="d2mh oracle"></i></a>
        <a href="/search?name_hero_item=winter+wyvern"><i class="d2mh winter-wyvern"></i></a>
        <a href="/search?name_hero_item=arc+warden"><i class="d2mh arc-warden"></i></a>
        <a href="/search?name_hero_item=underlord"><i class="d2mh underlord"></i></a>
        <a href="/search?name_hero_item=monkey+king"><i class="d2mh monkey-king"></i></a>
        <a href="/search?name_hero_item=dark+willow"><i class="d2mh dark-willow"></i></a>
        <a href="/search?name_hero_item=grimstroke"><i class="d2mh grimstroke"></i></a>
        <a href="/search?name_hero_item=mars"><i class="d2mh mars"></i></a>
        <a href="/search?name_hero_item=snapfire"><i class="d2mh snapfire"></i></a>
        <a href="/search?name_hero_item=void+spirit"><i class="d2mh void-spirit"></i></a>
        <a href="/search?name_hero_item=hoodwink"><i class="d2mh hoodwink"></i></a>
        <a href="/search?name_hero_item=dawnbreaker"><i class="d2mh dawnbreaker"></i></a>
    </div>
</main>
{% include "footer.html" %}

