
{% include "header.html" %}
<main>
    <div class="container-md">
        <div>
            <a href="#"><i class="sprite sprite-Abyssal_Blade_icon"></i></a>
            <a href="#"><i class="sprite sprite-Aegis_icon"></i></a>
            <a href="#"><i class="sprite sprite-Aeon_Disk_icon"></i></a>
            <a href="#"><i class="sprite sprite-Aether_Lens_icon"></i></a>
            <a href="#"><i class="sprite sprite-Aghanim"></i></a>
            <a href="#"><i class="sprite sprite-Aghanim_sh"></i></a>
            <a href="#"><i class="sprite sprite-Arcane_Blink_icon"></i></a>
            <a href="#"><i class="sprite sprite-Arcane_Boots_icon"></i></a>
            <a href="#"><i class="sprite sprite-Armlet_of_Mordiggian"></i></a>
            <a href="#"><i class="sprite sprite-Assault_Cuirass_icon"></i></a>
            <a href="#"><i class="sprite sprite-Band_of_Elvenskin_icon"></i></a>
            <a href="#"><i class="sprite sprite-Battle_Fury_icon"></i></a>
            <a href="#"><i class="sprite sprite-Belt_of_Strength_icon"></i></a>
            <a href="#"><i class="sprite sprite-Black_King_Bar_icon"></i></a>
            <a href="#"><i class="sprite sprite-Blade_Mail_icon"></i></a>
            <a href="#"><i class="sprite sprite-Blade_of_Alacrity_icon"></i></a>
            <a href="#"><i class="sprite sprite-Blades_of_Attack_icon"></i></a>
            <a href="#"><i class="sprite sprite-Blight_Stone_icon"></i></a>
            <a href="#"><i class="sprite sprite-Blink_Dagger_icon"></i></a>
            <a href="#"><i class="sprite sprite-Blitz_Knuckles_icon"></i></a>
            <a href="#"><i class="sprite sprite-Bloodstone_icon"></i></a>
            <a href="#"><i class="sprite sprite-Bloodthorn_icon"></i></a>
            <a href="#"><i class="sprite sprite-Boots_of_Speed_icon"></i></a>
            <a href="#"><i class="sprite sprite-Boots_of_Travel_1_icon"></i></a>
            <a href="#"><i class="sprite sprite-Boots_of_Travel_2_icon"></i></a>
            <a href="#"><i class="sprite sprite-Bottle_icon"></i></a>
            <a href="#"><i class="sprite sprite-Bracer_icon"></i></a>
            <a href="#"><i class="sprite sprite-Broadsword_icon"></i></a>
            <a href="#"><i class="sprite sprite-Butterfly_icon"></i></a>
            <a href="#"><i class="sprite sprite-Chainmail_icon"></i></a>
            <a href="#"><i class="sprite sprite-Circlet_icon"></i></a>
            <a href="#"><i class="sprite sprite-Clarity_icon"></i></a>
            <a href="#"><i class="sprite sprite-Claymore_icon"></i></a>
            <a href="#"><i class="sprite sprite-Cloak_icon"></i></a>
            <a href="#"><i class="sprite sprite-Crimson_Guard_icon"></i></a>
            <a href="#"><i class="sprite sprite-Crown_icon"></i></a>
            <a href="#"><i class="sprite sprite-Crystalys_icon"></i></a>
            <a href="#"><i class="sprite sprite-Daedalus_icon"></i></a>
            <a href="#"><i class="sprite sprite-Dagon_5_icon"></i></a>
            <a href="#"><i class="sprite sprite-Demon_Edge_icon"></i></a>
            <a href="#"><i class="sprite sprite-Desolator_icon"></i></a>
            <a href="#"><i class="sprite sprite-Diffusal_Blade_icon"></i></a>
            <a href="#"><i class="sprite sprite-Divine_Rapier_icon"></i></a>
            <a href="#"><i class="sprite sprite-Dragon_Lance_icon"></i></a>
            <a href="#"><i class="sprite sprite-Drum_of_Endurance_icon"></i></a>
            <a href="#"><i class="sprite sprite-Dust_of_Appearance_icon"></i></a>
            <a href="#"><i class="sprite sprite-Eaglesong_icon"></i></a>
            <a href="#"><i class="sprite sprite-Echo_Sabre_icon"></i></a>
            <a href="#"><i class="sprite sprite-Enchanted_Mango_icon"></i></a>
            <a href="#"><i class="sprite sprite-Energy_Booster_icon"></i></a>
            <a href="#"><i class="sprite sprite-Eternal_Shroud_icon"></i></a>
            <a href="#"><i class="sprite sprite-Ethereal_Blade_icon"></i></a>
            <a href="#"><i class="sprite sprite-Eye_of_Skadi_icon"></i></a>
            <a href="#"><i class="sprite sprite-Faerie_Fire_icon"></i></a>
            <a href="#"><i class="sprite sprite-Falcon_Blade_icon"></i></a>
            <a href="#"><i class="sprite sprite-Fluffy_Hat_icon"></i></a>
            <a href="#"><i class="sprite sprite-Force_Staff_icon"></i></a>
            <a href="#"><i class="sprite sprite-Gauntlets_of_Strength_icon"></i></a>
            <a href="#"><i class="sprite sprite-Gem_of_True_Sight_icon"></i></a>
            <a href="#"><i class="sprite sprite-Ghost_Scepter_icon"></i></a>
            <a href="#"><i class="sprite sprite-Gleipnir_icon"></i></a>
            <a href="#"><i class="sprite sprite-Glimmer_Cape_icon"></i></a>
            <a href="#"><i class="sprite sprite-Gloves_of_Haste_icon"></i></a>
            <a href="#"><i class="sprite sprite-Guardian_Greaves_icon"></i></a>
            <a href="#"><i class="sprite sprite-Hand_of_Midas_icon"></i></a>
            <a href="#"><i class="sprite sprite-Headdress_icon"></i></a>
            <a href="#"><i class="sprite sprite-Healing_Salve_icon"></i></a>
            <a href="#"><i class="sprite sprite-Heart_of_Tarrasque_icon"></i></a>
            <a href="#"><i class="sprite sprite-Heavens_Halberd_icon"></i></a>
            <a href="#"><i class="sprite sprite-Helm_of_Iron_Will_icon"></i></a>
            <a href="#"><i class="sprite sprite-Helm_of_the_Dominator_icon"></i></a>
            <a href="#"><i class="sprite sprite-Helm_of_the_Overlord_icon"></i></a>
            <a href="#"><i class="sprite sprite-Holy_Locket_icon"></i></a>
            <a href="#"><i class="sprite sprite-Hood_of_Defiance_icon"></i></a>
            <a href="#"><i class="sprite sprite-Hurricane_Pike_icon"></i></a>
            <a href="#"><i class="sprite sprite-Hyperstone_icon"></i></a>
            <a href="#"><i class="sprite sprite-Infused_Raindrops_icon"></i></a>
            <a href="#"><i class="sprite sprite-Iron_Branch_icon"></i></a>
            <a href="#"><i class="sprite sprite-Javelin_icon"></i></a>
            <a href="#"><i class="sprite sprite-Kaya_and_Sange_icon"></i></a>
            <a href="#"><i class="sprite sprite-Linken_Sphere_icon"></i></a>
            <a href="#"><i class="sprite sprite-Lotus_Orb_icon"></i></a>
            <a href="#"><i class="sprite sprite-Maelstrom_icon"></i></a>
            <a href="#"><i class="sprite sprite-Manta_Style_icon"></i></a>
            <a href="#"><i class="sprite sprite-Mask_of_Madness_icon"></i></a>
            <a href="#"><i class="sprite sprite-Medallion_of_Courage_icon"></i></a>
            <a href="#"><i class="sprite sprite-Mekansm_icon"></i></a>
            <a href="#"><i class="sprite sprite-Meteor_Hammer_icon"></i></a>
            <a href="#"><i class="sprite sprite-Mithril_Hammer_icon"></i></a>
            <a href="#"><i class="sprite sprite-Mjollnir_icon"></i></a>
            <a href="#"><i class="sprite sprite-Monkey_King_Bar_icon"></i></a>
            <a href="#"><i class="sprite sprite-Moon_Shard_icon"></i></a>
            <a href="#"><i class="sprite sprite-Morbid_Mask_icon"></i></a>
            <a href="#"><i class="sprite sprite-Mystic_Staff_icon"></i></a>
            <a href="#"><i class="sprite sprite-Necronomicon_3_icon"></i></a>
            <a href="#"><i class="sprite sprite-Null_Talisman_icon"></i></a>
            <a href="#"><i class="sprite sprite-Nullifier_icon"></i></a>
            <a href="#"><i class="sprite sprite-Oblivion_Staff_icon"></i></a>
            <a href="#"><i class="sprite sprite-Observer_and_Sentry_Wards_1_icon"></i></a>
            <a href="#"><i class="sprite sprite-Octarine_Core_icon"></i></a>
            <a href="#"><i class="sprite sprite-Ogre_Axe_icon"></i></a>
            <a href="#"><i class="sprite sprite-Orb_of_Corrosion_icon"></i></a>
            <a href="#"><i class="sprite sprite-Orb_of_Venom_icon"></i></a>
            <a href="#"><i class="sprite sprite-Orchid_Malevolence_icon"></i></a>
            <a href="#"><i class="sprite sprite-Overwhelming_Blink_icon"></i></a>
            <a href="#"><i class="sprite sprite-Perseverance_icon"></i></a>
            <a href="#"><i class="sprite sprite-Phase_Boots_icon"></i></a>
            <a href="#"><i class="sprite sprite-Pipe_of_Insight_icon"></i></a>
            <a href="#"><i class="sprite sprite-Platemail_icon"></i></a>
            <a href="#"><i class="sprite sprite-Point_Booster_icon"></i></a>
            <a href="#"><i class="sprite sprite-Quarterstaff_icon"></i></a>
            <a href="#"><i class="sprite sprite-Quelling_Blade_icon"></i></a>
            <a href="#"><i class="sprite sprite-Radiance_icon"></i></a>
            <a href="#"><i class="sprite sprite-Reaver_icon"></i></a>
            <a href="#"><i class="sprite sprite-Refresher_Orb_icon"></i></a>
            <a href="#"><i class="sprite sprite-Ring_of_Health_icon"></i></a>
            <a href="#"><i class="sprite sprite-Ring_of_Protection_icon"></i></a>
            <a href="#"><i class="sprite sprite-Ring_of_Regen_icon"></i></a>
            <a href="#"><i class="sprite sprite-Ring_of_Tarrasque_icon"></i></a>
            <a href="#"><i class="sprite sprite-Robe_of_the_Magi_icon"></i></a>
            <a href="#"><i class="sprite sprite-Rod_of_Atos_icon"></i></a>
            <a href="#"><i class="sprite sprite-Sacred_Relic_icon"></i></a>
            <a href="#"><i class="sprite sprite-Sange_and_Yasha_icon"></i></a>
            <a href="#"><i class="sprite sprite-Sange_icon"></i></a>
            <a href="#"><i class="sprite sprite-Satanic_icon"></i></a>
            <a href="#"><i class="sprite sprite-Scepter_of_Divinity_icon"></i></a>
            <a href="#"><i class="sprite sprite-Scythe_of_Vyse_icon"></i></a>
            <a href="#"><i class="sprite sprite-Shadow_Amulet_icon"></i></a>
            <a href="#"><i class="sprite sprite-Shadow_Blade_icon"></i></a>
            <a href="#"><i class="sprite sprite-Shivas_Guard_icon"></i></a>
            <a href="#"><i class="sprite sprite-Silver_Edge_icon"></i></a>
            <a href="#"><i class="sprite sprite-Skull_Basher_icon"></i></a>
            <a href="#"><i class="sprite sprite-Slippers_of_Agility_icon"></i></a>
            <a href="#"><i class="sprite sprite-Smoke_of_Deceit_icon"></i></a>
            <a href="#"><i class="sprite sprite-Solar_Crest_icon"></i></a>
            <a href="#"><i class="sprite sprite-Soul_Booster_icon"></i></a>
            <a href="#"><i class="sprite sprite-Soul_Ring_icon"></i></a>
            <a href="#"><i class="sprite sprite-Spirit_Vessel_icon"></i></a>
            <a href="#"><i class="sprite sprite-Staff_of_Wizardry_icon"></i></a>
            <a href="#"><i class="sprite sprite-Swift_Blink_icon"></i></a>
            <a href="#"><i class="sprite sprite-Talisman_of_Evasion_icon"></i></a>
            <a href="#"><i class="sprite sprite-Ultimate_Orb_icon"></i></a>
            <a href="#"><i class="sprite sprite-Urn_of_Shadows_icon"></i></a>
        </div>
    </div>
</main>
{% include "footer.html" %}