.results-container {
    text-align: center;
}

li {
    list-style-type: none;
   }

.checked {
  color: orange;
}

button.like{
	width: 30px;
	height: 30px;
	margin: 0 auto;
	line-heigth: 50px;
	border-radius: 50%;
	color: rgba(0,150,136 ,1);
	background-color:rgba(38,166,154 ,0.3);
	border-color: rgba(0,150,136 ,1);
	border-width: 1px;
	font-size: 15px;
}

button.dislike{
	width: 30px;
	height: 30px;
	margin: 0 auto;
	line-heigth: 50px;
	border-radius: 50%;
	color: rgba(255,82,82 ,1);
	background-color: rgba(255,138,128 ,0.3);
	border-color: rgba(255,82,82 ,1);
	border-width: 1px;
	font-size: 15px;
}

button.dislike:disabled, button.like:disabled {
    background-color: #F5F5F5;
    border-color: #C0C0C0;
    color: #C0C0C0;
}

.heroes-text {
    color: #FF4500;
}

.mt-n4 {
  margin-top: -16rem !important;
}
