{% include "header.html" %}
<div class="container-md pt-5">
    {% if results|length <= 0 %}
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center mt-n4">
            <span class="display-6 text-center">We can't find any heroes... please check them all
                <a href="/heroes" class="d-inline">
                    <u class="heroes-text">HERE</u>
                </a>
            </span>
        </div>
    </div>
    {% endif %}
    {% for group in results %}
    <fieldset class="border p-2 mb-5">
        <legend class="w-auto">
            <h3>
                <i class="d2mh {{ group['name']|replace(' ', '-')|lower }}"></i>
                <span>{{ group['name'] }}</span>
            </h3>
        </legend>
        <div class="row">
            {% for item in group['items'] %}
            <div class="col-12">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <a href="{{ item[4] }}">
                                    <i class="sprite sprite-{{ item[1]|replace(' ', '_')|replace('\'', '') }}_icon"></i>
                                </a>
                            </div>
                            <div class="col text-end">
                                {% for i in range(5) %}
                                {% set rating = item[3] %}
                                <span class="fa fa-star {{ 'checked' if (i + 1) * 20 <= rating else '' }}"></span>
                                <!-- <span>{{ rating }}</span>  Проверка-->
                                {% endfor %}
                                {% if isAuth %}
                                <div class="pt-3">
                                    <button class="dislike me-2" data-item-id="{{ item[5] }}" onclick="dislike(this, {{ item[5] }})" disbaled="{{ item[5] }}">
                                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                    </button>

                                    <button class="like" data-item-id="{{ item[5] }}" onclick="like(this, {{ item[5] }})" disbaled="{{ item[5] }}">
                                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                    </button>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <h3 class="card-title">
                            <a href="{{ item[4] }}">{{ item[1]|e }}</a>
                        </h3>
                        <p class="card-text text-muted h5">{{ item[2]|safe }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </fieldset>
    {% endfor %}
</div>
<script src="/js/index.js"></script>
{% include "footer.html" %}
